.WeatherForecast {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 15px;
}

.WeatherForecast-day {
  text-align: center;
  font-weight: bold;
  color: #2a2a2a;
  font-size: 18px;
}

.WeatherForecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.WeatherForecast-temperature-max {
  font-weight: bold;
  color: #888e86;
  margin-right: 5px;
}

.WeatherForecast-temperature-min {
  color: #457b9d;
}

.WeatherForecastDay {
  background: #edf6ed;
  border-radius: 10px;
  padding: 15px;
  width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.WeatherIcon {
  display: block;
  margin: 0 auto;
  width: 80px;
}
